<div class="fullscreen-container">
  <div class="login-container">
    <h1 class="login-title">Welcome</h1>
    <form [formGroup]="loginForm" (ngSubmit)="handleSubmitLogin()" class="form-container">
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" formControlName="username" autofocus>
      </div>
      <div class="input-group" [ngClass]="{'error' : hasError==true}">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" formControlName="password">
        <span class="msg">{{ errorMessage }}</span>
      </div>
      <button type="submit" class="login-button" [ngClass]="{'invalid' : !loginForm.valid}" [disabled]="!loginForm.valid">Login</button>
      <div class="register-link">
        <p>Don't have an account? <a href="/register">Register</a></p>
      </div>
    </form>
  </div>
</div>