<form [formGroup]="loginForm" (ngSubmit)="handleSubmitLogin()" class="form-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Profile Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput autofocus />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
          }}</mat-icon>
      </mat-form-field>
      <mat-error *ngIf="hasError">{{ errorMessage }}</mat-error>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</form>

<div class="fullscreen-container">
  <div class="login-container">
    <h1 class="login-title">Welcome</h1>
    <form [formGroup]="loginForm" (ngSubmit)="handleSubmitLogin()" class="form-container">
      <div class="input-group success">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" formControlName="username">
        <span class="msg">Test span</span>
      </div>
      <div class="input-group error">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" formControlName="password">
        <span class="msg">Incorrect username and password</span>
      </div>
      <button type="submit" class="login-button">Login</button>
      <div class="register-link">
        <p>Don't have an account? <a href="/register">Register</a></p>
      </div>
    </form>
  </div>
</div>