<p>password-change works!</p>
<form
  [formGroup]="changeForm"
  (ngSubmit)="handleChangePassword()"
  class="form-container"
>
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Profile Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput autofocus/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          formControlName="password"
          matInput
          [type]="hide ? 'password' : 'text'"
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>New Password</mat-label>
        <input
          formControlName="newPassword"
          matInput
          [type]="hide ? 'newPassword' : 'text'"
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Repeat New Password</mat-label>
        <input
          formControlName="repeatNewPassword"
          matInput
          [type]="hide ? 'repeatNewPassword' : 'text'"
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>
      <mat-error *ngIf="hasError">{{ errorMessage }}</mat-error>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!changeForm.valid"
      >
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</form>
