<form
  [formGroup]="changeForm"
  (ngSubmit)="handleChangePassword()"
  class="form-container"
>
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Profile Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          formControlName="oldPassword"
          matInput
          [type]="hide1 ? 'password' : 'text'"
        />
        <mat-icon matSuffix (click)="hide1 = !hide1">{{
          hide1 ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>New Password</mat-label>
        <input
          formControlName="password"
          matInput
          [type]="hide2 ? 'password' : 'text'"
        />
        <mat-icon matSuffix (click)="hide2 = !hide2">{{
          hide2 ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Repeat New Password</mat-label>
        <input
          formControlName="confirmPassword"
          matInput
          [type]="hide3 ? 'password' : 'text'"
        />
        <mat-icon matSuffix (click)="hide3 = !hide3">{{
          hide3 ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>
      <mat-error *ngIf="changeForm?.errors?.['mismatch'] && changeForm.get('confirmPassword')?.touched">Password must match</mat-error>
      <mat-error *ngIf="hasError">{{errorMessage}}</mat-error>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!changeForm.valid"
      >
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</form>
