<mat-toolbar color="primary" class="navbar">
    <span>ToDo</span>
  
    <div class="spacer"></div>
  
    <a mat-button routerLink="/">Home</a>
    <a [hidden]="!isAdmin" mat-button routerLink="/admin">Admin</a>
    <a [hidden]="!isLoggedIn" mat-button routerLink="/dashboard">Dashboard</a>
    <button [matMenuTriggerFor]="profile" [hidden]="!isLoggedIn" mat-button>Profile</button>
    <mat-menu #profile="matMenu" xPosition="before">
      <button [hidden]="!isLoggedIn" mat-button  routerLink="/change">Change Password</button>
      <button [hidden]="!isLoggedIn" mat-button  (click)="logout()">Logout</button>
    </mat-menu>
    
    <a [hidden]="isLoggedIn" mat-button routerLink="/login">Login</a>
    <a [hidden]="isLoggedIn" mat-button routerLink="/register">Register</a>
    
  </mat-toolbar>

  <div>
    {{'login: ' + isLoggedIn}}
    {{'admin: ' + isAdmin}}
  </div>