<mat-toolbar color="primary" class="navbar">
    <span>ToDo</span>
  
    <div class="spacer"></div>
  
    <button mat-button routerLink="/">Home</button>
    <button [hidden]="!isAdmin" mat-button routerLink="/admin">Admin</button>
    <button [hidden]="!isLoggedIn" mat-button routerLink="/dashboard">Dashboard</button>
    <button [matMenuTriggerFor]="profile" [hidden]="!isLoggedIn" mat-button>Profile</button>
    <mat-menu #profile="matMenu">
      <button [hidden]="!isLoggedIn" mat-menu-item routerLink="/change">Change Password</button>
      <button [hidden]="!isLoggedIn" mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    
    <button [hidden]="isLoggedIn" mat-button routerLink="/login">Login</button>
    <button [hidden]="isLoggedIn" mat-button routerLink="/register">Register</button>
    
  </mat-toolbar>

<!--   <div>
    {{'login: ' + isLoggedIn}}
    {{'admin: ' + isAdmin}}
  </div> -->