<div class="fullscreen-container">
  <div class="register-container">
    <h1 class="register-title">Welcome</h1>
    <form [formGroup]="registerForm" (ngSubmit)="handleSubmitRegister()" class="form-container">
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" formControlName="username" autofocus>
      </div>
      <div class="input-group" [ngClass]="{'error' : hasError==true}">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" formControlName="password">
        <span class="msg">{{ errorMessage }}</span>
      </div>
      <button type="submit" class="register-button" [ngClass]="{'invalid' : !registerForm.valid}" [disabled]="!registerForm.valid">Register</button>
    </form>
  </div>
</div>