
.empty-task{
    text-align: center;
}
.main-task{
    border-color: black;
    border: 5px solid;
    text-align:center;
    margin-right: 30%;
    padding-right: 30%;
}

.list-option{
    border-color: black;
    border: 2px solid;
    border-radius: 30px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.remove-div{
    text-align: right;
}
.remove-button{
    margin-bottom: 5px;
    margin-right: 2%;
}