.dashboard-container{
    display: block;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    border: 0.1em solid;
    border-color: rgb(10, 47, 255);
    text-align: center;
}

.new-class-container{
    width:15%;
    border: 0.1em solid;
    border-color: rgb(223, 20, 20);
}

.add-form-card{

}

.empty-task{
    text-align: center;
}
.main-task{
    border-color: black;
    border: 5px solid;
    text-align:center;
    margin-right: 30%;
    padding-right: 30%;
}

.list-option{
    border-color: black;
    border: 2px solid;
    border-radius: 30px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.remove-div{
    text-align: right;
}
.remove-button{
    margin-bottom: 5px;
    margin-right: 2%;
}
.button-add{
    text-align: center;
}