<!-- <button mat-raised-button (click)="handleDashboardSubmit()">
  Refresh tasks
</button> -->

<div class="dashboard-container">

  <div class="new-class-container3">
    <form
      [formGroup]="taskForm"
      (ngSubmit)="postNewTask()"
      class="form-container3"
    >
      <input
        class="new-task-input3"
        formControlName="task"
        
        autofocus
      /><span>TEXTTEXTTEXT</span>
      <button
        class="new-task-button3"
        type="submit"
        [disabled]="!taskForm.valid"
      >
        +
      </button>
    </form>
  </div>

  

  <div class="main-task">
    <form
      [formGroup]="selectedTasksForm"
      (ngSubmit)="removeSelectedTasks()"
      class="main-task-form"
    >
      <mat-selection-list formControlName="selectedTasks" class="form-list">
        <h3 mat-subheader>Tasks</h3>
        <div *ngIf="tasks.tasks.length === 0" class="empty-task">
          <h4>No tasks currently, add some!</h4>
        </div>
        <div *ngIf="tasks.tasks.length > 0">
          <mat-list-option
            *ngFor="let task of tasks.tasks"
            [value]="task"
            class="list-option"
          >
            <h4 mat-line>{{ task }}</h4>
          </mat-list-option>
        </div>
      </mat-selection-list>

      <div *ngIf="tasks.tasks.length > 0" class="remove-div">
        <button mat-mini-fab color="warn" class="remove-button">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>

<!-- <div class="new-class-container">
  <form
    [formGroup]="taskForm"
    (ngSubmit)="postNewTask()"
    class="form-container"
  >
    <mat-form-field class="new-task-input">
      <mat-label> New task </mat-label>
      <input
        class="new-task-input2"
        formControlName="task"
        matInput
        autofocus
      />
    </mat-form-field>

    <button
      mat-raised-button
      class="new-task-button"
      type="submit"
      [disabled]="!taskForm.valid"
    >
      +
    </button>
  </form>
</div> -->