<!-- <button mat-raised-button (click)="handleDashboardSubmit()">
  Refresh tasks
</button> -->

<div class="dashboard-container">
  <div class="input-form-container">
    <form [formGroup]="taskForm" (ngSubmit)="postNewTask()">
      <div class="input-and-button">
        <div class="input-container">
          <input formControlName="task" class="input" placeholder=" " />
          <label class="placeholder">New Task</label>
        </div>
        <button class="input-button" type="submit" [disabled]="!taskForm.valid">
          +
        </button>
      </div>
    </form>
  </div>


  <div class="main-task">
    <form
      [formGroup]="selectedTasksForm"
      (ngSubmit)="removeSelectedTasks()"
      class="main-task-form"
    >
      <mat-selection-list formControlName="selectedTasks" class="form-list">
        <h2 mat-subheader>Tasks</h2>
        <div *ngIf="tasks.tasks.length === 0" class="empty-task">
          <h4>No tasks currently, add some!</h4>
        </div>
        <div *ngIf="tasks.tasks.length > 0">
          <mat-list-option
            *ngFor="let task of tasks.tasks"
            [value]="task"
            class="list-option"
          >
            <div mat-line>{{ task }}</div>
          </mat-list-option>
        </div>
      </mat-selection-list>

      <div *ngIf="tasks.tasks.length > 0" class="remove-div">
        <button mat-mini-fab color="warn" class="remove-button">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>